{# empty Twig template #}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" id="navbarColor01" style="">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="../../home">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../../aisshiptype/voirtous/">Authentification</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Navire</a>
        <div class="dropdown-menu bg-light">
          <a class="dropdown-item" href="../../navire/creer">Créer un navire</a>
          <a class="dropdown-item" href="../../navire/voirtous">Voir les navires</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="../../aisshiptype/voirtous">Voir les types de navire</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Port</a>
        <div class="dropdown-menu bg-light">
          <a class="dropdown-item" href="../../port/creer">Créer un port</a>
          <a class="dropdown-item" href="../../port/voirtous">Voir les ports</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="../../aisshiptype/voirtous">Voir les types de navire</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../../message/contact/">Contact</a>
      </li>
    </ul>
    {{ render(controller(
              'App\\Controller\\SearchController::searchBar'
            )) }}
  </div>
</nav>